<section class="section">
  <div class="container">
    <!-- Форма поиска -->
    <form class="search-form" id="search-form">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name="searchQuery"
          autocomplete="off"
          placeholder="Search images..."
          aria-label="Search images..."
          aria-describedby="basic-addon2"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary rounded-right" type="submit">
            Search
          </button>
        </div>
      </div>
    </form>

    <div class="gallery">
      <!-- Карточки изображений -->
    </div>
    <button type="button" hidden class="btn btn-outline-secondary load-more">
      Load more
    </button>
  </div>
</section>
